{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-6">
        <h1 class="text-center mb-5">{{ article.title }}</h1>

        <div class="row">
            {% if comments is not empty %}
                {% for commentaire in comments %}
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Mahdi selmi Commented:</h5>
                                <p class="card-text">{{ commentaire.commentaire }}</p>
                                
                                {# Affichage des étoiles en fonction de la note #}
                                <h5 class="card-title">
                                    Rating:
                                    {% for i in 1..5 %}
                                        {% if i <= commentaire.rate %}
                                            {% if commentaire.rate >= 3 %}
                                                <span class="text-warning">★</span> {# Étoile dorée #}
                                            {% else %}
                                                <span class="text-danger">★</span> {# Étoile rouge #}
                                            {% endif %}
                                        {% else %}
                                            <span class="text-secondary">★</span> {# Étoile grise pour les notes non attribuées #}
                                        {% endif %}
                                    {% endfor %}
                                </h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No comments found for this article.</p>
            {% endif %}
        </div>

        <div class="mt-4 text-center">
            <a href="{{ path('app_commentaire_new', {'articleId': article.id}) }}" class="btn btn-primary">Add Comment</a>
        </div>
    </div>
{% endblock %}