{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-6">
        <h1 class="text-center mb-5">{{ article.title }}</h1>

        <div class="row">
            {% if comments is not empty %}
                {% for commentaire in comments %}
                    <div class="col-md-4 mb-3">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Rating: {{ commentaire.rate }}</h5>
                                <p class="card-text">{{ commentaire.commentaire }}</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>No comments yet.</p>
                {% endfor %}
            {% else %}
                <p>No comments found for this article.</p>
            {% endif %}
        </div>
        <div class="mt-4 text-center">
            <a href="{{ path('app_commentaire_new', {'articleId': article.id}) }}" class="btn btn-primary">Add Comment</a>
        </div>
    </div>
{% endblock %}
